__pycache__/
*.pyc
*.pyo
*.pyd
*.pyd
*.sqlite3
*.log
venv/
env/
ENV/
*.egg-info/
conda-env/
*.conda
*.yaml
.env
.env.*
!.env.example
.vscode/
.idea/
.DS_Store
Thumbs.db
docker-data/
docker-volume/
*.pid
volumes/
data/
*.bak
*.tmp
*.temp
.cache/
docker-compose.yml
media/
staticfiles/
node_modules
