<!-- Navbar or header -->
<nav>
    {% if user.is_authenticated %}
        <form method="post" action="{% url 'logout' %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
        <a href="{% url 'emails_check' %}">Email Verifier</a>
        <a href="{% url 'bulk_csv_check' %}">Bulk Email Verifier</a>
        
    {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'register' %}">Register</a>
        <a href="{% url 'emails_check' %}">Email Verifier</a>
        <a href="{% url 'bulk_csv_check' %}">Bulk Email Verifier</a>

    {% endif %}
</nav>
